# Python
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.env.*
instance/
*.log

# Virtual Environment
venv/

# VSCode & IDE
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Docker
db_data/